.card {
    background-color: white;
    border-radius: 0.25rem;
    position: relative;
    width: 90%;
    margin: 1rem auto;
    padding: 5px;
    margin-bottom: 10px;
}

.card-header {
    display: flex;
    flex-direction: row;
    background-color: silver;
    border-bottom: 1px solid grey;
    padding: 5px;
    position: relative;
}

.card-body-content {
    padding: 3px;
}

.card-body-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}